*Rproj*
archived_results
*sublime-*
.Rproj.user
 exploration/intermediate_results/
.Rhistory
.RData
.Ruserdata
data
Dockstore.json
plots
./data
*.pdf
*.html
*_cache/
*_files/
*.log
*.md
tmp*
git
igv_session.xml
read_length.txt
exploration/plots*
exploration/tables*
exploration/intermediate_results*
code/Ribodiff*
Applications
gdrive
static_local
processed_reads*
archived_res
pipeline
